.mode {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.active-mode {
  padding: 3px;
  color: yellow;
  border: 1px solid yellow;
}

.inactive-mode {
  padding: 3px;
  color: gray;
}

.row {
  display: flex;
  justify-content: center;
}

.board {
  border: 5px solid #d38457;
}

.board-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button-stand {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-left: 20px;
}

.buttons {
  display: flex;
  flex-flow: column;
}

.button {
  height: 50px;
  margin-bottom: 30px;
  font-size: large;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  border-radius: 10px;
}

.switch-mode-button {
  color: white;
  background-color: rgb(31 75 140);
}
