.piece-box {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background-color: bisque;
  border-radius: 10px;
}

.piece-group {
  display: grid;
}

.overlay {
  grid-area: 1 / 1;
}

.piece-number {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
