.promote-modal {
  position: absolute;
  top: 70px;
  left: -30px;
  z-index: 100;
  display: flex;
  background-color: orange;
}

.promote-modal-image {
  width: 60px;
  height: 64px;
  cursor: pointer;
  border: 2px solid #c67a2d;
}
