#root {
  max-width: 65%;
  margin: 0 auto;
  text-align: center;
  user-select: none;
}

.title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  position: absolute;
  right: 0;
  font-size: 40px;
  color: white;
}

.navigation > a {
  margin: 0 10px;
  color: white;
}
